verbose: true

bot:
  name: botolo
  version: 1.0
  email: botolo@codesake.com

twitter:
  name: your_twitter_username
  consumer_key:
  consumer_secret:
  oauth_token:
  oauth_token_secret:

task:
  - { schedule: every 1 h, action: do_something_every_hour }
  - { schedule: every 1 d, action: do_something_every_day }
  - { schedule: every 1 w, action: do_something_every_week }
  - { schedule: every 1 m, action: do_something_every_month }
  - { schedule: every 1 y, action: do_something_every_year }

